:root {
    --swiper-theme-color: #fab912 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "iranyekan";
    src: url("../font/iranyekanwebbold.ttf");
}

@layer components {
    .btn {
        position: relative;
        font-size: 0.875rem;
        padding: 0.7rem 2.5rem;
    }
    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 20px;
        border-top: 2px solid #fab912;
        border-right: 2px solid #fab912;
        transition: 0.3s;
    }
    .btn:hover::before {
        width: 100%;
        height: 100%;
    }
    .btn::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 20px;
        border-bottom: 2px solid #fab912;
        border-left: 2px solid #fab912;
        transition: 0.3s;
    }
    .btn:hover::after {
        width: 100%;
        height: 100%;
    }


    .circular-progress {
        position: relative;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circular-progress::before {
        content: '';
        position: absolute;
        height: 92px;
        width: 92px;
        border-radius: 50%;
        background-color: black;
    }
    .progress-value {
        position: relative;
        font-size: 25px;
        color: white;
    }
    .circular-text {
        margin-top: 10px;
        font-size: 15px;
        color: white;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }   
}

@keyframes arrow {
    from {
        bottom: 4rem;
    }

    to {
        bottom: 2.5rem;
    }
}

header {
    height: 100vh;
    background-image: url(../images/banner2.png);
    background-position: center;
    background-size: cover;
}

#second-section {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url(../images/Parallax01.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#third-section {
    background-image: url(../images/bg02.jpg);
    background-size: cover;
}

#sixth-section {
    background-image: url(../images/bg03.jpg);
}

#seventh-section {
    background-image: url(../images/Parallax02.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
}

.loader.hide {
    animation: fadeOut .5s;
    animation-fill-mode: forwards;
}
.loader.hide > img {
    display: none;
}

.bx-arrow-back {
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0px;
    left: 0px;
    background: #fab912;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg)
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f5f5f5;
}
th, td {
    padding: 15px 10px;
}